<div class="fs-5 ps-4">{{title}}:</div>

<table class="table mt-3 pb-3 ps-5 pe-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Montadora</th>
      <th scope="col">Preço</th>
      <th scope="col">Ano</th>
      <th scope="col" class="text-end">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.name}}</td>
        <td>{{car.brand}}</td>
        <td>{{car.price}}</td>
        <td>{{car.yearMade}}</td>
        <td class="text-end">
          <div class="btn btn-success me-1">  Alterar</div>
          <div class="btn btn-danger">        Remover</div>
        </td>
    </tr>
  </tbody>
</table>